public/longest_lines
public/scratch
public/**/*.tiff
public/longest_lines_grided.bin

src/lib/viewshed-reconstructor/.gitignore
src/lib/viewshed-reconstructor/README.md
src/lib/viewshed-reconstructor/package.json

# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
